USE [APARTMAN]
GO
/****** Object:  User [udemy1]    Script Date: 12.11.2024 22:04:09 ******/
CREATE USER [udemy1] FOR LOGIN [udemy1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[aidat_gelirleri_table]    Script Date: 12.11.2024 22:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aidat_gelirleri_table](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bina_no] [int] NOT NULL,
	[Daire_no] [int] NOT NULL,
	[Tarih] [date] NOT NULL,
	[miktar] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AidatOdemesi]    Script Date: 12.11.2024 22:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AidatOdemesi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DaireNo] [int] NULL,
	[Para] [int] NULL,
	[Tarih] [date] NULL,
 CONSTRAINT [PK_AidatOdemesi] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gider_Tablosu]    Script Date: 12.11.2024 22:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gider_Tablosu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Para] [int] NULL,
	[Tarih] [date] NULL,
	[Gider] [nvarchar](50) NULL,
 CONSTRAINT [PK_Gider_Tablosu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kullaniciler_table]    Script Date: 12.11.2024 22:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kullaniciler_table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[bina_no] [int] NOT NULL,
	[daire_no] [int] NULL,
	[şifre] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[people]    Script Date: 12.11.2024 22:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[people](
	[name] [varchar](max) NULL,
	[age] [bigint] NULL,
	[city] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yötici_kayitlari_table]    Script Date: 12.11.2024 22:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yötici_kayitlari_table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Bina_No] [int] NOT NULL,
	[Daire_Sayısı] [int] NULL,
	[şifre] [nvarchar](50) NULL,
	[aidat] [int] NULL,
 CONSTRAINT [PK_yötici_kayitlari_table] PRIMARY KEY CLUSTERED 
(
	[Bina_No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[aidat_gelirleri_table] ON 

INSERT [dbo].[aidat_gelirleri_table] ([id], [bina_no], [Daire_no], [Tarih], [miktar]) VALUES (1, 2, 1, CAST(N'2024-12-11' AS Date), 200)
INSERT [dbo].[aidat_gelirleri_table] ([id], [bina_no], [Daire_no], [Tarih], [miktar]) VALUES (2, 2, 2, CAST(N'2024-12-11' AS Date), 200)
INSERT [dbo].[aidat_gelirleri_table] ([id], [bina_no], [Daire_no], [Tarih], [miktar]) VALUES (3, 2, 3, CAST(N'2024-12-11' AS Date), 200)
SET IDENTITY_INSERT [dbo].[aidat_gelirleri_table] OFF
GO
SET IDENTITY_INSERT [dbo].[AidatOdemesi] ON 

INSERT [dbo].[AidatOdemesi] ([ID], [DaireNo], [Para], [Tarih]) VALUES (2, 3, 2, CAST(N'2024-08-01' AS Date))
INSERT [dbo].[AidatOdemesi] ([ID], [DaireNo], [Para], [Tarih]) VALUES (3, 8, 600, CAST(N'2024-07-29' AS Date))
INSERT [dbo].[AidatOdemesi] ([ID], [DaireNo], [Para], [Tarih]) VALUES (4, 10, 200, CAST(N'2024-10-07' AS Date))
SET IDENTITY_INSERT [dbo].[AidatOdemesi] OFF
GO
SET IDENTITY_INSERT [dbo].[Gider_Tablosu] ON 

INSERT [dbo].[Gider_Tablosu] ([ID], [Para], [Tarih], [Gider]) VALUES (1, 800, CAST(N'2024-07-30' AS Date), N'Asansör')
INSERT [dbo].[Gider_Tablosu] ([ID], [Para], [Tarih], [Gider]) VALUES (2, 40, CAST(N'2024-07-04' AS Date), N'Elektrik')
INSERT [dbo].[Gider_Tablosu] ([ID], [Para], [Tarih], [Gider]) VALUES (3, 1200, CAST(N'2024-06-20' AS Date), N'Asansör')
SET IDENTITY_INSERT [dbo].[Gider_Tablosu] OFF
GO
SET IDENTITY_INSERT [dbo].[kullaniciler_table] ON 

INSERT [dbo].[kullaniciler_table] ([ID], [bina_no], [daire_no], [şifre]) VALUES (1, 3, 1, N'nurhatınevi')
INSERT [dbo].[kullaniciler_table] ([ID], [bina_no], [daire_no], [şifre]) VALUES (2, 3, 2, N'hanzadenin')
INSERT [dbo].[kullaniciler_table] ([ID], [bina_no], [daire_no], [şifre]) VALUES (3, 3, 3, N'1453541')
SET IDENTITY_INSERT [dbo].[kullaniciler_table] OFF
GO
INSERT [dbo].[people] ([name], [age], [city]) VALUES (N'Ali', 23, N'Istanbul')
INSERT [dbo].[people] ([name], [age], [city]) VALUES (N'Ayşe', 30, N'Ankara')
INSERT [dbo].[people] ([name], [age], [city]) VALUES (N'Mehmet', 35, N'Izmir')
GO
SET IDENTITY_INSERT [dbo].[yötici_kayitlari_table] ON 

INSERT [dbo].[yötici_kayitlari_table] ([ID], [Bina_No], [Daire_Sayısı], [şifre], [aidat]) VALUES (3, 2, 20, N'nurhat36', 500)
INSERT [dbo].[yötici_kayitlari_table] ([ID], [Bina_No], [Daire_Sayısı], [şifre], [aidat]) VALUES (2, 3, 40, N'#325#', 400)
SET IDENTITY_INSERT [dbo].[yötici_kayitlari_table] OFF
GO
/****** Object:  StoredProcedure [dbo].[giderlerim]    Script Date: 12.11.2024 22:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[giderlerim]
@Para int,
@Tarih date,
@gider nvarchar(50)

as
begin
insert into Gider_Tablosu(Gider,Para,Tarih) values (@gider,@Para,@Tarih)
end
GO
/****** Object:  StoredProcedure [dbo].[odeme_al]    Script Date: 12.11.2024 22:04:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[odeme_al]
@Daireno int,
@Para int,
@Tarih date

as 
begin
insert into AidatOdemesi(DaireNo,Para,Tarih) values (@Daireno,@Para,@Tarih)
end
GO
